/* .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.number {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #3dfef48b;
}

.range {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #ff222288;
} */
/* 
.checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #ffff6588;
} */

/* .radio {
 display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #9dff85bc;
} */
/* 
.dropdown-list {
     display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #ff51d6bc;
}


.datalist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #ff51d6bc;
}

.datalist input {
    font-size: 10px;
} 

.textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #5978ffbc;
}

input {
  padding: 10px;
  font-size: 20px;
} */



h1 {
  display: inline;
  border: 1px solid #000;
  padding: 10px;
  background-color: #90eff6;
  width: 200px;
  height: 200px;
}


span {
  border: 1px solid #000;
  background-color: #f5c86b;
  /* padding: 20px; */
  margin-left: 20px;
  margin-top: 20px;
  /* display: block; */
  /* padding: 10px; */

  /* display: inline-block; */
}

strong {
  border: 1px solid #000;
  background-color: #55f592;
  /* display: block; */
   /* padding: 10px; */

  /* display: inline-block; */
}

img {
  width: 100px;
  height: 100px;
display: block;

}
