.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .number {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #3dfef48b;
}

.range {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #ff222288;
} */
/* 
.checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #ffff6588;
} */

/* .radio {
 display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #9dff85bc;
} */
/* 
.dropdown-list {
     display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #ff51d6bc;
}


.datalist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #ff51d6bc;
}

.datalist input {
    font-size: 10px;
}  */

.textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #5978ffbc;
}

input {
  padding: 10px;
  font-size: 20px;
}
