img {
  width: 100%;
  height: auto;
}

p {
  font-size: 16px;
  color: black;
}

@media (min-resolution: 300dpi) {
  .immagine-container {
    background-image: url(./img/alta-risoluzione.avif);
  }
  img {
    display: none;
  }

  p {
    font-size: 20px;
    color: #0033cc;
  }
}
