.p1 {
    border: 3px solid coral;
}

.p2 {
    border: solid coral;
}

.box1 {
    border: dotted blue;
}

.box2-1 {
    border: thin solid grey;
}

.box2-2 {
    border: medium solid grey;
}

.box2-3 {
    border: thick solid grey;
}

.section {
    border: none;
}