html {
    font-size: 18px;
}

.contenitore-generale {
    width: 90%;
    min-height: 400px;
    padding: 5%;
    border: 1px solid gray;
    height: 500px;
}

.contenitore-generale h1 {
    font-size: 2rem;
}

.contenitore-generale p {
    font-size: 1em;
    padding-top: 2%;
    margin-bottom: 3%;
}

.box-figlio {
    height: 50%;
    width: 60%;
    min-height: 200px;
    max-height: 300px;
    min-width: 250px;
    max-width: 500px;
    border: 1px solid black;
}

.media-section {
    margin-top: 200px;
    width: 80%;
    /* height: 400px; */
    overflow: hidden;
    background-image: url(./img/sfondo.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

video {
    max-height: 300px;
    width: auto;
    display: block;
}





